[versions]
# common libraries
adventure = "4.14.0"
annotations = "24.0.1"
configapi = "4.6.4"
event4j = "3.2.1"
fastutil = "8.5.12"
hikaricp = "5.0.1"
translationloader = "2.0.2"

# gradle plugins
shadow = "8.1.1"
aggregate-javadoc = "8.4"

# testing library
junit = "5.10.0"

# platform api
paper = "1.20.1-R0.1-SNAPSHOT"
paper-javadoc = "1.20"

# plugin api
coreprotect = "22.2"
lwc = "2.3.1"
bolt = "1.0.517"

[libraries]

# common libraries
adventure = { module = "net.kyori:adventure-api", version.ref = "adventure" }
annotations = { module = "org.jetbrains:annotations", version.ref = "annotations" }
configapi-yaml = { module = "com.github.siroshun09.configapi:configapi-yaml", version.ref = "configapi" }
event4j = { module = "com.github.siroshun09.event4j:event4j", version.ref = "event4j" }
fastutil = { module = "it.unimi.dsi:fastutil", version.ref = "fastutil" }
hikaricp = { module = "com.zaxxer:HikariCP", version.ref = "hikaricp" }
translationloader = { module = "com.github.siroshun09.translationloader:translationloader", version.ref = "translationloader" }

# testing library
junit-bom = { module = "org.junit:junit-bom", version.ref = "junit" }
junit-jupiter = { module = "org.junit.jupiter:junit-jupiter", version.ref = "junit" }

# platform api
paper = { module = "io.papermc.paper:paper-api", version.ref = "paper" }

# plugin api
coreprotect = { module = "net.coreprotect:coreprotect", version.ref = "coreprotect" }
lwc = { module = "com.griefcraft:lwc", version.ref = "lwc" }
bolt-bukkit = { module = "org.popcraft:bolt-bukkit", version.ref = "bolt" }
bolt-common = { module = "org.popcraft:bolt-common", version.ref = "bolt" }

[plugins]

shadow = { id = "com.github.johnrengelman.shadow", version.ref = "shadow" }
aggregate-javadoc = { id = "io.freefair.aggregate-javadoc-legacy", version.ref = "aggregate-javadoc" }
