[versions]
# common libraries
adventure = "4.16.0"
annotations = "24.1.0"
configapi = "4.6.4"
event4j = "3.2.1"
hikaricp = "5.1.0"
translationloader = "2.0.2"

# gradle plugins
shadow = "8.1.5"
aggregate-javadoc = "8.6"

# platform api
paper = "1.20.4-R0.1-SNAPSHOT"
paper-javadoc = "1.20"

# plugin api
coreprotect = "22.3"
lwc = "2.3.2"
bolt = "1.0.580"

[libraries]

# common libraries
adventure = { module = "net.kyori:adventure-api", version.ref = "adventure" }
annotations = { module = "org.jetbrains:annotations", version.ref = "annotations" }
configapi-yaml = { module = "com.github.siroshun09.configapi:configapi-yaml", version.ref = "configapi" }
event4j = { module = "com.github.siroshun09.event4j:event4j", version.ref = "event4j" }
hikaricp = { module = "com.zaxxer:HikariCP", version.ref = "hikaricp" }
translationloader = { module = "com.github.siroshun09.translationloader:translationloader", version.ref = "translationloader" }

# platform api
paper = { module = "io.papermc.paper:paper-api", version.ref = "paper" }

# plugin api
coreprotect = { module = "net.coreprotect:coreprotect", version.ref = "coreprotect" }
lwc = { module = "com.griefcraft:lwc", version.ref = "lwc" }
bolt-bukkit = { module = "org.popcraft:bolt-bukkit", version.ref = "bolt" }
bolt-common = { module = "org.popcraft:bolt-common", version.ref = "bolt" }

[plugins]

shadow = { id = "io.github.goooler.shadow", version.ref = "shadow" }
aggregate-javadoc = { id = "io.freefair.aggregate-javadoc-legacy", version.ref = "aggregate-javadoc" }
