name: Gradle Deployment
on:
  push:
# for release
    tags:
      - "**"
# for snapshot
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up JDK 25
        uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: 'temurin'
          java-version: '25'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@f29f5a9d7b09a7c6b29859002d29d24e1674c884 # v5.0.1
      - run: chmod +x ./gradlew
      - name: Publish artifacts
        run: ./gradlew publish
      - name: Generate Javadocs
        run: ./gradlew aggregateJavadoc
      - name: Create top and not-found pages
        run: |
          cp -f assets/gh-pages.html staging/index.html
          cp -f assets/gh-pages.html staging/404.html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@4f9cc6602d3f66b9c108549d475ec49e8ef4d45e # v4.0.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./staging
          keep_files: true
          allow_empty_commit: true
