name: Gradle Deployment
on:
  push:
    branches:
      - "v4/master"
      - "v4/develop"

jobs:
  build:
    runs-on: ubuntu-latest
    if: "! contains(github.event.head_commit.message, '[DEPLOY-SKIP]')"
    steps:
      - uses: actions/checkout@v3.0.2
      - name: Set up JDK 16
        uses: actions/setup-java@v3.2.0
        with:
          distribution: 'temurin'
          java-version: '16'
          cache: 'gradle'
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1.0.4
      - run: chmod +x ./gradlew
      - name: Deploy to staging directory
        uses: gradle/gradle-build-action@v2.1.7
        with:
          arguments: |
            clean
            publish -P box.publish=true
      - name: Generate Javadocs
        uses: gradle/gradle-build-action@v2.1.7
        with:
          arguments: aggregateJavadoc
      - name: Move Javadoc pages to staging directory (release)
        if: ${{ github.ref == 'refs/heads/v4/master' }}
        run: |
          rm -rf staging/release
          mv build/docs/aggregateJavadoc staging/release
      - name: Move Javadoc pages to staging directory (snapshot)
        if: ${{ github.ref == 'refs/heads/v4/develop' }}
        run: |
          rm -rf staging/snapshot
          mv build/docs/aggregateJavadoc staging/snapshot
      - name: Create top and not-found pages
        run: |
          cp -f assets/gh-pages.html staging/index.html
          cp -f assets/gh-pages.html staging/404.html
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.8.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./staging
          keep_files: true
          allow_empty_commit: true
