name: Maven Build
on: [ push, pull_request ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Set up JDK 16
        uses: actions/setup-java@v2.3.1
        with:
          distribution: 'temurin'
          java-version: '16'
          cache: 'maven'
      - name: Build with Maven
        run: |
          mvn clean
          mvn -B package --file pom.xml -D maven.javadoc.skip=true
      - name: Move the artifact
        run: |
          mkdir staging
          mv api/target staging/api
          mv bundle/target staging/bundle
          mv core/target staging/core
          mkdir staging/features
          mv features/autostore/target staging/features/autostore
          mv features/category/target staging/features/category
          mv features/command/target staging/features/command
          mv features/craft/target staging/features/craft
          mv features/gui/target staging/features/gui
          mv features/notifier/target staging/features/notifier
          mv features/stick/target staging/features/stick
          mv migrator/target staging/migrator
      - uses: actions/upload-artifact@v2.2.4
        with:
          name: Package
          path: staging
